
$fontsizes-s:14px;
$fontsizes-m:24px;
$fontsizes-l:42px;

$Padding-m: 16px;
$Padding-l: 32px;



// Variables for the selawik font family names

$blackColor:#000000;
$whiteColor:#ffffff;

$PrimaryColor:#FFE600;
$SegundaryColor:#3483FA;

$greayScaleColor1:#333333;
$greayScaleColor2:#666666;
$greayScaleColor3:#999999;
$greayScaleColor4:#EEEEEE;

// ui color

$SuccesColor:#24cd10;
$ErrorColor:#ed1c2e;
$WarningColor:#ffd200;




